Authlib
bleach
boto3
emoji
Faker
Flask
flask-sock
Markdown
minio
peewee==3.18.2
psycopg2-binary
pydantic
Pygments
pymdown-extensions
pytest
pytest-cov
pytest-flask
pytest-mock
python-dotenv
requests
simple-websocket
uwsgi
