<div id="chat-input-container" class="chat-input-form bg-light">
    <div id="typing-indicator" class="text-muted small" style="height: 20px;"></div>
    <form ws-send id="message-form" autocomplete="off">
        <div class="input-group">
            <textarea id="chat-message-input" name="chat_message" class="form-control" placeholder="Type a message..." rows="1" style="resize: none;"></textarea>
            <button id="send-button" type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
    <div id="typing-sender" ws-send hx-trigger="typing-event" style="display: none;"></div>
</div>

{# This script will run as soon as the partial is loaded into the DOM #}
<script>
    document.body.dispatchEvent(new Event('chatInputLoaded'));
</script>
