{% set conversation_id = "dm_" ~ ([g.user.id, other_user.id]|sort|join('_')) %}
<div class="h-100" data-conversation-id="{{ conversation_id }}">
    <div ws-send
         hx-trigger="load"
         hx-vals='{"type": "subscribe", "conversation_id": "{{ conversation_id }}"}'></div>
    <div id="message-list">
        {% if messages and messages|length == PAGE_SIZE %}
            <div class="text-center"
                 hx-get="{{ url_for('main.get_older_messages', conversation_id=conversation_id, before_message_id=messages[0].id) }}"
                 hx-trigger="intersect once"
                 hx-swap="outerHTML"
                 hx-target="this">
                <div class="spinner-border spinner-border-sm my-3" role="status">
                    <span class="visually-hidden">Loading older messages...</span>
                </div>
            </div>
        {% endif %}
        {% set ns = namespace(first_unread_found=false) %}
        {% for message in messages %}
            {% if not ns.first_unread_found and message.created_at > last_read_timestamp and message.user_id != g.user.id %}
                {% include 'partials/new_message_separator.html' %}
                {# This change will now persist across the loop #}
                {% set ns.first_unread_found = true %}
            {% endif %}
            {% include 'partials/message.html' with context %}
        {% else %}
            <div class="text-center text-muted">
                {% if other_user.id == g.user.id %}
                    <p>
                        <strong>This is your space.</strong>
                    </p>
                    <p class="small">
                        Draft messages, list your to-dos, or keep links and files handy. You can also talk to yourself here, but please keep it civil.
                    </p>
                {% else %}
                    <p>This is the beginning of your direct message history with {{ other_user.username }}.</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
