<!DOCTYPE html>
<html lang="en" {% block html_theme %}{% endblock %}>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf--8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS & Icons -->
        <link rel="stylesheet" href="/css/local/bootstrap.min.css">
        <link rel="stylesheet" href="/css/local/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <title>D8 - Chat</title>
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="manifest"
              href="{{ url_for('static', filename='site.webmanifest') }}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="main-layout">
            {% block layout %}
                <div class="container mt-4">
                    {% block content %}{% endblock %}
                </div>
            {% endblock layout %}
        </div>
        <!-- Bootstrap, HTMX, and HTMX Websockets -->
        <script src="/js/local/bootstrap.bundle.min.js"></script>
        <script src="/js/local/htmx.min.js"></script>
        <script src="/js/local/htmx-ws.js"></script>
        <script src="/js/local/turndown.js"></script>
        {# Dark or Light Theme #}
        <script>
      // IIFE to handle system theme preference
      (function () {
        const htmlElement = document.documentElement;
        const theme = htmlElement.getAttribute('data-bs-theme');

        if (theme === 'system') {
          const getSystemTheme = () => window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
          htmlElement.setAttribute('data-bs-theme', getSystemTheme());

          // Listen for changes in OS theme
          window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
            htmlElement.setAttribute('data-bs-theme', e.matches ? 'dark' : 'light');
          });
        }
      })();
        </script>
        {# custom scripts in different templates #}
        {% block scripts %}{% endblock %}
        <!-- Toast container for displaying errors -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="app-toast"
                 class="toast"
                 role="alert"
                 aria-live="assertive"
                 aria-atomic="true">
                <div id="toast-header" class="toast-header bg-danger text-white">
                    <strong id="toast-title" class="me-auto">An Error Occurred</strong>
                    <button type="button"
                            class="btn-close btn-close-white"
                            data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toast-body-content">
                    <!-- Error message will be injected here -->
                </div>
            </div>
        </div>
        <!-- end toast -->
    </body>
</html>
