{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">Login</h1>
                    <p>This application uses Single Sign-On.</p>
                    <a href="{{ url_for('main.sso_login') }}" class="btn btn-primary btn-lg">Login with SSO</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
